{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title"><a href="{% url 'profile' author.id %}" class="link" style="color: black">{{ author.username }}</a></h1>
        {% include 'recipes/includes/filter_form.html' %}
    </div>

    {% if user.is_authenticated and user != author %}
        {% include 'recipes/includes/sub.html' with author=author user=user tag='p' style='padding: 0 0 2em 0;' %}
    {% endif %}

    <div class="card-list">
        {% for recipe in author_recipes %}
            {% include "recipes/includes/recipe_card.html" with recipe=recipe %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}
