{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>Рецепты {{ author }}</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block main_header %}
        <h1 class="main__title">{{ author }}</h1>
        {% include 'recipes/includes/filter_form.html' %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% include 'recipes/buttons/sub_unsub_button.html' with author=author user=user tag='p' style='padding: 0 0 2em 0;' flag=author.in_subscriptions %}
    {% endif %}

    <div class="card-list">
        {% for recipe in author_recipes %}
            {% include "recipes/includes/recipe_card.html" with recipe=recipe %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/authorRecipe.js' %}"></script>
{% endblock %}
