{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Удаление рецепта</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="custom-center-block">
        <form method="post" action="{% url 'delete_recipe' recipe.id %}">
            {% csrf_token %}
            <h3>Уверены, что хотите удалить "{{ object.name }}"?</h3>
            <button type="submit" class="button button_style_blue">Уверен!</button>
            <a href="{% url 'index' %}"><button class="button button_style_blue">Нет, вернуться на главную</button></a>
        </form>
    </div>
{% endblock %}
