{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>Избранное</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}


{% block main_header %}
    <h1 class="main__title">Избранное</h1>
    {% include 'recipes/includes/filter_form.html' %}
{% endblock %}

{% block content %}
    <div class="card-list">
        {% for recipe in favorites %}
            {% include 'recipes/includes/recipe_card.html' with recipe=recipe %}
        {% endfor %}
    </div>

    {% if not favorites %}
        <h3 class="single-card__section-text">К сожалению, показать нечего.</h3>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/favorite.js' %}"></script>
{% endblock %}