{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            <form method="get" id="formID" onchange="document.getElementById('formID').submit()">
                {% render_filter filterform.tags %}
            </form>
        </div>
        <div class="card-list">
            {% for recipe in recipes %}
                {% include 'includes/recipe_card.html' with recipe=recipe %}
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            {% include "includes/paginator.html" with page=page_obj paginator=paginator req_args=req_args %}
        {% endif %}
</main>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
