{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block main_header %}
    <h1 class="main__title">Мои подписки</h1>
{% endblock %}

{% block content %}
    <div class="card-list">
        {% for author in authors %}
            {% include 'recipes/includes/user_card.html' with author=author %}
        {% endfor %}
    </div>

    {% if not authors %}
        <h3 class="single-card__section-text">Вы не подписаны ни на одного автора.</h3>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}
