{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block main_header %}
    <h1 class="main__title">Список покупок</h1>
    {% if purchases %}
        <a href="{% url 'download' %}"><button class="button button_style_blue">Скачать список</button></a>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="card-list card-list_column">
        {% if not purchases %}
            <h3 class="single-card__section-text">Ваш список пока пуст.</h3>
        {% endif %}

        <ul class="shopping-list">
            {% for recipe in purchases %}
                <li class="shopping-list__item" data-id="{{ recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% include 'recipes/includes/recipe_image.html' with link=True class='recipe__image recipe__image_big' %}
                        <h3 class="recipe__title">{{ recipe.name|capfirst }}</h3>
                        {% include 'recipes/icons/recipe_cooking_time.html' with class='recipe_text' time=recipe.cooking_time %}
                        <div>
                            {% for ingredient in recipe.ingredients.all %}
                                <div class="form__field-item-ingredient" id="ing_{{ idx }}">
                                    <span class="recipe__text">{{ ingredient.name|capfirst }} - {{ ingredient.amount }} {{ ingredient.measurement_unit }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                    <a type="button" class="button shopping-list__button">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/shopList.js' %}"></script>
{% endblock %}
