{% load static %}
{% load custom_filters %}

<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe' recipe.slug %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="{% static 'images/testCardImg.png' %}" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.slug %}" target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item">
                    <span class="badge 
                        {% if tag.name == 'zv' %} badge_style_orange
                        {% elif tag.name == 'ob' %} badge_style_green
                        {% else %} badge_style_purple
                            {% endif %}
                    ">
                        {{ tag.get_name_display }}
                    </span>
                </li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
    </div>
</div>
