{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
    <title>{{ recipe.name }}</title>
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
        <img src="{{ recipe.image.url }}" alt="{% static 'images/testCardImg.png' %}" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ recipe.name }}</h1>
                <div class="single-card__favorite">
                    {% if user.is_authenticated %}
                        {% include 'recipes/includes/fav_star.html' with class='icon-favorite_big' %}
                        <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                    {% endif %}
                </div>
            </div>
            <ul class="single-card__items">
                {% for tag in recipe.tags.all %}
                    <li class="single-card__item">
                        <span class="badge badge_style_{{ tag.color }}">{{ tag.get_name_display }}</span></li>
                {% endfor %}
            </ul>
            <div class="single-card__items single-card__items_column">
                {% include 'recipes/includes/recipe_cooking_time.html' with class='single-card__text' time=recipe.cooking_time %}
                <ul class="single-card__items">
                    <li class="single-card__item">
                        {% include 'recipes/includes/user_icon.html' with class='single-card__text' author=recipe.author %}
                    </li>
                    {% if request.user == recipe.author %}
                        <li class="single-card__item">
                            <a style="margin-left: 2.5em" href="{% url 'edit_recipe' recipe.id %}" class="single-card__text">
                                Редактировать рецепт
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="single-card__items">
                {% if user.is_authenticated %}
                    {% include 'recipes/includes/purchase.html' with recipe=recipe user=user wrap='True' %}
                    {% include 'recipes/includes/sub_unsub_button.html' with author=recipe.author user=user tag='li' %}
                {% endif %}
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингредиенты:</h3>

                <div class="single-card__items single-card__items_column">
                    {% single_recipe_ingrs recipe %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class="single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/singlePage.js' %}"></script>
{% endblock %}
