{% load static %}
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                {% with page=request.resolver_match.url_name %}
                    <li class="nav__item {% if page == 'index' %}nav__item_active{% endif %}"><a href="{% url 'index'%}" class="nav__link link">Рецепты</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav__item {% if page == 'subscriptions' %}nav__item_active{% endif %}"><a href="{% url 'subscriptions' %}" class="nav__link link">Мои подписки</a></li>
                        <li class="nav__item {% if page == 'new_recipe' %}nav__item_active{% endif %}"><a href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                        <li class="nav__item {% if page == 'favorites' %}nav__item_active{% endif %}"><a href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>
                        <li class="nav__item {% if page == 'purchases' %}nav__item_active{% endif %}">
                            <a href="{% url 'purchases' %}" class="nav__link link">Список покупок
                                <span class="badge badge_style_blue nav__badge" id="counter" {% if not user.purchases.count %}style="display:none"{% endif %}>{{ user.purchases.count }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
            <ul class="nav__items list">
                {% if user.is_authenticated %}
                    <li class="nav__item"><a href="{% url 'profile' user.id %}" class="nav__link link"><img src="{% static 'images/userIcon.svg' %}"></a></li>
                    <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                {% else %}
                    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                    <li class="nav__item">
                        <a href="{% url 'signup' %}" class="nav__link link">
                            <button class="button button_style_blue">Создать аккаунт</button>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
