{% load static %}
<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title" ><a href="{% url 'profile' author.id %}">{{ author.username }}</a></h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:"3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        <a href="{% url 'recipe' recipe.slug %}" class="link"><img src="{{ recipe.image.url }}" alt="{% static 'images/testCardImg.png' %}" class="recipe__image"></a>
                        <a href="{% url 'recipe' recipe.slug %}" class="recipe__title">{{ recipe.name|capfirst }}</a>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    </div>
                </li>
            {% endfor %}
            <li class="card-user__item">
                <a href="{% url 'profile' author.id %}" class="card-user__link link">
                    {% if author.recipes.count|add:"-3" > 0 %}
                        Еще {{ author.recipes.count|add:"-3" }} рецептов...
                        {% endif %}
                </a>
            </li>
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>
