{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Сброс пароля прошёл успешно</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="single-card__section">
        <h2 class="single-card__section-title">Сброс пароля прошёл успешно</h2>
        <p class="single-card__section-text">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
    </div>
    <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
{% endblock %}
