{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Сброс пароля прошёл успешно</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="single-card__section">
        <h2 class="single-card__section-title">Новый пароль успешно установлен</h2>
        <p class="single-card__section-text">Теперь вы можете войти на сайт.</p>
    </div>
    <a href="{% url 'login' %}"><button class="button button_style_blue">Войти</button></a>
{% endblock %}
