{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Войти на сайт</title>
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'login' %}">
            {% include 'users/includes/account_action_form.html' %}
            
            {% if form.errors %}
                <div class="form__group form__field-group">
                    <span class="form__error">Имя пользователя и пароль не совпадают. Введите правильные данные.</span>
                </div>
            {% endif %}

            <div class="form__footer">
                {% include 'users/includes/form_button.html' with button_title='Войти' %}
                <a href="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
            </div>
        </form>
    </div>
{% endblock %}
