{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block head %}
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'signup' %}">
            {% if messages %}
                {% for message in messages %}
                    <div class="form__group alert alert-success" role="alert"> {{ message }} </div>
                {% endfor %}
            {% endif %}

            {% include 'users/includes/account_action_form.html' %}

            <div class="form__footer">
                {% include 'users/includes/form_button.html' with button_title='Создать аккаунт' %}
            </div>

        </form>
    </div>
{% endblock %}
