{% load static %}
{% load custom_filters %}

<div class="card" data-id="{{ recipe.id }}">
    <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ recipe.image.url }}" alt="{% static 'images/testCardImg.png' %}" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.id %}">{{ recipe.name|capfirst }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.get_name_display }}</span></li>
            {% endfor %}
        </ul>   
        <div class="card__items card__items_column">
            {% include 'recipes/includes/recipe_cooking_time.html' with class='card__text' time=recipe.cooking_time %}
            <p class="card__text">
                <span class="icon-user"></span>
                {% include 'recipes/includes/recipe_author_link.html' with author=recipe.author %}
            </p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% include 'recipes/includes/purchase.html' with recipe=recipe user=user %}
            {% include 'recipes/includes/fav_star.html' %}
        {% endif %}
    </div>
</div>
