{% load static %}
{% load custom_filters %}
<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">
            {% include 'recipes/includes/recipe_author_link.html' with author=author %}
        </h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:"3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ recipe.image.url }}" alt="{% static 'images/testCardImg.png' %}" class="recipe__image"></a>
                        <h3 class="recipe__title">{{ recipe.name|capfirst }}</h3>
                        {% include 'recipes/includes/recipe_cooking_time.html' with class='recipe__text' time=recipe.cooking_time %}
                    </div>
                </li>
            {% endfor %}
            <li class="card-user__item">
                <a href="{% url 'profile' author.id %}" class="card-user__link link">
                    {% with count=author.recipes.count|add:"-3" %}
                        {% if count > 0 %}
                            Еще {{ count }} {{ 'рецепт'|tense:count }}...
                        {% endif %}
                    {% endwith %}
                </a>
            </li>
        </ul>
    </div>
    <div class="card-user__footer">
        {% include 'recipes/includes/usercard_unsub_button.html' %}
    </div>
</div>
