{% load static %}
{% load custom_filters %}
<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <a href="{% url 'profile' author.id %}" class="link"><h2 class="card-user__title" >{{ author.username }}</h2></a>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:"3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        <a href="{% url 'recipe' recipe.id %}" class="link"><img src="{{ recipe.image.url }}" alt="{% static 'images/testCardImg.png' %}" class="recipe__image"></a>
                        <h3 class="recipe__title">{{ recipe.name|capfirst }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span>{{ recipe.cooking_time }} мин.</p>
                    </div>
                </li>
            {% endfor %}
            <li class="card-user__item">
                <a href="{% url 'profile' author.id %}" class="card-user__link link">
                    {% with count=author.recipes.count|add:"-3" %}
                        {% if count > 0 %}
                            Еще {{ count }} {{ count|tense }}...
                        {% endif %}
                    {% endwith %}
                </a>
            </li>
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>
